
.footer{
    //margin-top: 20px;
    padding: 2% 20% 2% 20%;
}

.footer div{

    border-color: var(--contentBorderColor);
    border-style: solid;
    border-radius: var(--mainBorderRadius);

    background-color: var(--contentBackgroundColor);
}

.footer div p {
    color: var(--terziaryColor);
}